<%= new_repo_link -%>
<%= render :partial => "admin/tabs" %>
<%= render :partial => 'new_repo_sheet' if admin? %>

<div id="repository-admin">
  <ul id="repos">

    <% @repositories.each do |repo| -%>
      <li class="repo" id="repo-<%= repo.id %>">
        <%= link_to h(repo.name), hosted_url(repo, :admin) %>
        <span class="log"><%= repo.path %></span>
        <%= render :partial => 'sync_repo', :locals => {:repo => repo} if repo.sync_in_progress? %>

        <ul class="admin-controls">
          <% if repo.sync? %>
            <li class="sync"><a href="#" title="Begin syncing" onclick="<%= "importer#{repo.id}" %>.step(); $('indicator-<%= repo.id %>').show(); return false;">Sync</a></li>
          <% end %>
          <li class="edit" id="repoedit-<%= repo.id %>"><a href="#">Edit</a></li>
          <li class="del"><%= link_to_remote 'Delete', :url => repository_path(repo), :with => "'_method=delete'",
            :confirm => "Are you sure, this will clear all changes, bookmarks, and permissions.  This will NOT remove the actual repository from the server." %></li>
        </ul>
        <%= render :partial => 'edit_repo_sheet', :locals => {:repo => repo} if admin? %>
      </li>
    <% end -%>

  </ul>
</div>
