<% if repository_admin? && current_repository && current_repository.sync? -%>
<div class="info"><%= pluralize current_repository.revisions_to_sync.size, 'revision' %> need to be synced.  You can do this from the command line or you can 
  do this in the administration user interface.  Command line syncing is much faster.</div>
<% end -%>

<% unless params[:q].blank? -%>
<h2>Changesets including the term "<%=h params[:q] %>"</h2>
<% else -%>
<h2>
  <% if current_repository %>
    Changeset activity in <%= current_repository.name %>
  <% else %>
    All Changeset activity
  <% end %>

  <p id="views">
    <a href="#" id="detail-view">Details</a> | 
    <a href="#" id="list-view">List</a>
  </p>
</h2>
<% end %>

<ul id="changesets">
  <%= render :partial => 'changeset', :collection => @changesets -%>

  <% unless @changesets.any? %>
    <li>
      <div class="info">
        <h3>No Changesets available</h3>
        <p style="font-weight: normal;">Either you don't have access to view changesets, or the repository you're viewing hasn't been synced or modified.</p>
      </div>
    </li>
  <% end %>
</ul>

<%= will_paginate @changesets unless @changesets.empty? %>

<% content_for :sidebar do -%>
    <%= render :partial => 'members'         if current_repository && current_repository.members.any? -%>
    <%= render :partial => 'repository_list' if repository_subdomain.blank? %>
<% end -%>
