<li id="hook-<%= hook.plugin_name %>" class="listitem">
  <%= render :partial => 'new_hook_sheet', :locals => {:hook => hook} %>
  
  <h3><%=h hook.properties.title %></h3>
  <span class="log"><%=h hook.properties.notes %></span>

  <div class="hook-help">
    <ul>
    <% hook.properties.class.option_order.each do |option| -%>
      <% name, *desc = option.split -%>
      <li>
        <p><strong><%= h name.titleize %>:</strong> <span><%= h desc.join(' ') %></span></p>
      </li>
    <% end -%>
    </ul>
  </div>
  
  <ul id="hook-instances">
    <% @hooks[hook.plugin_name].each do |hk| -%>
      <li id="hook-<%= hk.id %>"<%= %( class="inactive") unless hk.active? %>>
        <p>
          <%= "(inactive)" unless hk.active? %>
          <%= hk.label.blank? ? 'No label' : hk.label %>
          <% if hk.properties.prefix -%>(prefix: <%=h hk.properties.prefix %>)<% end -%>
        </p>
        <ul class="admin-controls">
          <li id="hooki-<%= hk.id %>" class="edit"><a href="#">Edit</a></li>
          <li class="del">
            <%= link_to_remote('Delete', :url => hosted_url(:hook, hk), :method => :delete, :confirm => "Are you sure you wish to delete this?") %>
          </li>
        </ul>

        <%= render :partial => 'edit_hook_sheet', :locals => {:hook => hook} %>
      </li>
    <% end if @hooks[hook.plugin_name] -%>
  </ul>

  <p class="add-hk"><a href="#" id="hooknew-<%= hook.plugin_name %>">Add Instance</a></p>
</li>
